.jumbo {
    background: url("/assets/imgs/communication-3.jpg") no-repeat;
    background-size: 100% 100%;
    height: 400px;
    z-index: -2;
}

.jumbotron-text {
    padding:10px;
    background-color: white;
    opacity: 0.8;
}
.jumbotron-header {
    margin-top: 60px;
    padding:10px;
    font-size: 2.25rem;
    line-height: inherit;
    white-space: nowrap;
}